{
    "presets": [
        [
            "env",
            {
                "targets": { //definisemo koje okruzenje zahtjevamo
                    "browsers": [
                        "last 5 versions",
                        "ie >= 8"
                    ]
                }
            }
        ]
    ]
}